<head>
	<script src="./lib/mo.js"></script>
	<script src="./js/burstpack.anim.js"></script>
	<script src="./js/inp-burst.js"></script>
</head>

<body>
	<div class="mincon container" style="text-align: left;">
		<div class="col-12 row login-page-container">

			<!-- MANUAL LOGINS -->
			
			<form class="formBox rounded col-12 text-center manual-logins" id="main-form" action="/auth/changepassword" method="post">
				<div class="login-header">
					<h2 class="font-big grn-text"> Change Password </h2>
					<hr class="title-underline">
				</div>
	
				<!-- Old Password -->
				<div class="form-group">
					<label class="grn-text semi-dim" for="in-oldpassword"> Current Password </label>
					<input type="password" class="form-control" name="oldpassword" id="in-oldpassword" placeholder="Alpha-numeric only (a-z, 0-9)" required>
				</div>
	
				<!-- New Password -->
				<div class="form-group">
					<label class="grn-text semi-dim" for="in-newpassword"> New Password </label>
					<input type="password" class="form-control" name="newpassword" id="in-newpassword" placeholder="Password" required>
				</div>
	
				<!-- Confirm New Password -->
				<div class="form-group">
					<label class="grn-text semi-dim" for="in-confirmnewpassword"> Confirm New Password </label>
					<input type="password" class="form-control" name="newconfirmpassword" id="in-confirmnewpassword" placeholder="Password" required>
				</div>
		
				<input type="submit" value="Submit" id="main-submit-btn" class="btn btn-outline-info loginWith"/>
			</form>
		</div>
	</div>
</body>
