<head>
	<style>
		html {
			overflow-y: scroll;
		}
	</style>
</head>
<body>
	<div class="mincon container text-left" style="text-align: left; ">
		<div>  
		  <h1 class="text-center">Frequently Asked Questions:</h1>
		</div>

		<br/>
		
		<div id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="card">
		    <div class="card-header" role="tab" id="headingOne">
		      <h5 class="mb-0">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          What is this website?
		        </a>
		      </h5>
		    </div>

		    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
		      <div class="card-block">
		        This website was created by Samuel Clarke for CumulusVFX. It is to enable artists to hand in Timesheets for their work, and for administrators to monitor it.
		      </div>
		    </div>
		  </div>

		  <div class="card">
		    <div class="card-header" role="tab" id="headingTwo">
		      <h5 class="mb-0">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          How do I use this website?
		        </a>
		      </h5>
		    </div>
		    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="card-block">
		        To use this website, first <a href="/login">login</a>. You should already be signed up. 
						<i>(If you do not know your login, or aren't signed up, please contact the local Systems Administrator, this is usually Sam.)</i>
		        Once you are logged in, you can add to this weeks timesheet, or view other timesheets that you have submitted in the past.
		      </div>
		    </div>
		  </div>

 			<div class="card">
		    <div class="card-header" role="tab" id="headingThree">
		      <h5 class="mb-0">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          How long do timesheets last?
		        </a>
		      </h5>
		    </div>
		    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
		      <div class="card-block">
						Timesheets last from the point they are created, to the next Monday, at 10am. At Monday, 10am, they are submitted to Will for review.
						Timesheets that are submitted can no longer be edited, but you can still view them.
		      </div>
		    </div>
			</div>
			
			<div class="card">
		    <div class="card-header" role="tab" id="headingFour">
		      <h5 class="mb-0">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
		          What are all those colours on the home page?
		        </a>
		      </h5>
		    </div>
		    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
		      <div class="card-block">
						We use a coloring system to warn you of days that haven't been properly filled out. It goes as follows: <br/><br/>
						<b class="sub-nav-link grey">Grey</b> - This day has not yet come to fluition -- you don't need to worry about it yet. <br/>
						<b class="sub-nav-link green">Green</b> - This day has been filled out for a full 8 hours or more. All done, all good. <br/>
						<b class="sub-nav-link yellow">Yellow</b> - This day has been partially filled in, but not for the whole 8 hours. <br/>
						<b class="sub-nav-link red">Red</b> - This day has not been filled in at all yet! Get onto it! <br/>
		      </div>
				</div>
				
				<div class="card">
					<div class="card-header" role="tab" id="headingFive">
						<h5 class="mb-0">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								How can I log absences?
							</a>
						</h5>
					</div>
					<div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
						<div class="card-block">
							If you're ever absent from work, and have talked about this with will, (such as being offsite, sick, or what have you),
							it is still proper procedure to mark this down on this website. <br/>
							When you're absent, select the "Absent" task, and the "-" (blank) project. The shot code will be used as a note.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" role="tab" id="headingSix">
						<h5 class="mb-0">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								(Something) isn't working the way it's supposed to! What do I do?
							</a>
						</h5>
					</div>
					<div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
						<div class="card-block">
							The CumulusVFX Timesheets System is still very much a Work-in-Progress. <br/>
							So, if there is ever a broken part of the website, you have a suggestion, or you just need clarification on a feature, 
							feel free to email <i>sam.clarke@cumulusvfx.com</i>, and I'll get back to you about it :) 
						</div>
					</div>
				</div>
		</div>
	</div>
</body>
