<!DOCTYPE html>

<html lang="en">
	<head>
		<!-- Code written by Samuel J. Clarke, May-June 2018, for CumulusVFX. -->

			<!-- Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Samuel J. Clarke">
		<meta name="keywords" content="HTML,CSS,XML,JavaScript,Cumulus,CumulusVFX,VFX,Timesheets,Samuel,Clarke,NodeJS,Timetables,Timesheets">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Timesheets!</title>

		<script type="text/javascript">
			let IS_NODE = (typeof module !== 'undefined');
			if(IS_NODE) { console.log("Welcome to the timesheet desktop app."); }
		</script>

		<link rel="shortcut icon" href="./res/tslogo/tslogo32x32.ico?">
			<!-- jQuery -->
		<script src="./lib/jquery.js"></script>
		<script type="text/javascript"> if(IS_NODE) { jQuery = $ = module.exports } </script>
			<!-- jQuery Form Validator -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js" crossorigin="anonymous"></script>
			<!-- Tether & Popper (for bootstrap) -->
		<script src="./lib/tether.js"></script>
		<script src="./lib/popper.js"></script>
			<!-- Bootstrap -->
		<link rel="stylesheet" href="./lib/bootstrap4.css">
		<script src="./lib/bootstrap4.js"></script>
			<!-- Fonts & Icons-->
		<link href="https://fonts.googleapis.com/css?family=Archivo|Noto+Sans:700" rel="stylesheet">
		<script src="https://use.fontawesome.com/52160498ec.js"></script>
			<!-- Our CSS/JS -->
		<script src="./js/general.js"></script>
		<link rel="stylesheet" href="./css/style.css">
		<link rel="stylesheet" href="./css/style.night.css">
	</head>

	<body>
		<!-- Navbar -->
		<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse font-main">
			<% if(user) { %>
				<div class="navbar-toggler-right navbar-username-right-holder avholder font-big">
					<p class="navbar-username-right"><%= user.displayName %></p>
				</div>
			<% } %>

			<!-- Navbar toggle button -->
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Navbar logo -->
			<a class="navbar-brand" href="/">
				<img class="img img-responsive icon48" alt="cmls logo"
					src="/res/tslogo/tslogo48x48.ico" />
			</a>


			<!-- Navbar bar  -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto animated">
					<% if(user) { %>
					<li class="nav-item" id="home-navi">
						<a class="nav-link faded-grn-text dim" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home </a>
					</li>
					<% } else { %>
						<li class="nav-item" id="login-navi">
							<a class="nav-link faded-grn-text dim" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login </a>
						</li>
					<% } if(user) { %>
						<li class="nav-item" id="account-navi">
							<a class="nav-link faded-grn-text dim" href="/changepassword"><i class="fa fa-lock" aria-hidden="true"></i> Change Password </a>
						</li>
						<% if(user.isadmin == "true") { %>
							<li class="nav-item" id="adduser-navi">
								<a class="nav-link faded-grn-text dim" id="adduser" href="/signup"><i class="fa fa-user-plus" aria-hidden="true"></i> Add a user </a>
							</li>
							<li class="nav-item" id="planner-navi">
								<a class="nav-link faded-grn-text dim" id="planner" href="/planner"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Planner </a>
							</li>
							<li class="nav-item" id="analytics-navi">
								<a class="nav-link faded-grn-text dim" id="analytics" href="/analytics"><i class="fa fa-line-chart"></i> Analytics </a>
							</li>
							<li class="nav-item" id="usercosts-navi">
								<a class="nav-link faded-grn-text dim" id="usercosts" href="/usercosts"><i class="fa fa-money"></i> User Costs </a>
							</li>
						<% } %>
						<li class="nav-item" id="logout-navi">
							<a class="nav-link faded-grn-text dim" id="logout" href="/auth/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout </a>
						</li>
					<% } %>
					<li class="nav-item" id="help-navi" >
						<a class="nav-link faded-grn-text dim" id="help" href="/help"><i class="fa fa-question-circle" aria-hidden="true"></i> Help </a>
					</li>
				</ul>
			</div>
		</nav>
		<!--div class="errholder">
			<h1 class="err"> Site is under maintanence. DO NOT USE IT. </h1>
		</div-->
		<% if(error) { %>
			<div class="errholder">
				<h1 class="err"> <%= error %> </h1>
			</div>
		<% } %>
		<div class="secondarybody font-main"> <!-- fades in everything (but not actually because i removed that once i stopped liking it) -->
			<%- body %>
		</div>
		<div class="text-center version-footer font-main grn-text semi-dim">
			<small> Developed by Samuel Clarke, May-July 2018, for CumulusVFX <br/> Version 1.8.6 | Codename: Tenacious Timer </small>
		</div>
</body>
</html>
