<div class="mincon container" style="text-align: left;">
	<div class="col-12 row login-page-container">

		<!--MANUAL LOGINS-->

		<form class="formBox rounded col-12 text-center manual-logins" action="/auth/login" method="post">
			<div class="login-header">
				<h2> Login </h2>
				<hr class="title-underline">
			</div>
			<!--Username-->
			<div class="form-group">
				<label for="in-username"> Username </label>
				<input type="username" class="form-control" name="username" id="in-username" placeholder="Alpha-numeric only (a-z, 0-9)" required>
			</div>
			<!--Password-->
			<div class="form-group">
				<label for="in-password"> Password </label>
				<input type="password" class="form-control" name="password" id="in-password" placeholder="Password" required>
			</div>
	
			<input type="submit" value="Log In" class="btn btn-success loginWith"/>
			
			<!--a href="/auth/google"> <i class="fa fa-google-plus"></i> Or Log In With Google</a--> <!-- this was a dream that never was. we dont get new employees that often - ill just add em myself.-->
		</form>
	</div>
</div>