/* Coolors Exported Palette - coolors.co/161921-1d2b3a-324045-313b47-185589 */

/* MAIN */
#2e2f35 /* body */
#434c57 row - odd
#313B47 row - even

/* NORMAL */
$color1: #161921; /* nav */
$color2: #313E4B; /* body */
$color3: #324051; /* bright nav */
$color4: #313B47; /* grey-el */
$color5: #185589; /* highlights */

/* SHADE UP */
$color1: #272831; /* nav */
$color2: #3b4a59; /* body */
$color3: #445160; /* bright nav */
$color4: #434c57; /* grey-el */
$color5: #42739E; /* highlights */


/* #161D24 */
/* #185589 */
