/* credit: https://codepen.io/ajerez/pen/aOmJew */

@import url(https://fonts.googleapis.com/css?family=Raleway:300);

*,
*:before,
*:after {
	box-sizing: border-box;
}

.secondarybody {
	background-size: cover;
	font-family: "Raleway", sans-serif;
	height: 100%;
}

.text-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	font-size: 9em;
	font-weight: 700;
	color: #e0e0ff;
	position: relative;
}

.subtitle {
	font-size: 40px;
	font-weight: 700;
	color: #c0c0df;
	position: relative;
}

.buttons {
	margin: 30px;
}

.buttons a.button {
	background-color: #c0c0df;
	font-weight: 700;
	border: 2px solid #e0e0ff;
	text-decoration: none;
	padding: 15px;
	text-transform: uppercase;
	color: #e0e0ff;
	border-radius: 26px;
	transition: all 0.2s ease-in-out;
}

.buttons a.button:hover {
	background-color: lighten(#e0e0ff, 10%);
	color: white;
	transition: all 0.2s ease-in-out;
}

@keyframes noise-anim {
	0% {
		clip: rect(32px, 9999px, 147px, 0);
	}
	5% {
		clip: rect(110px, 9999px, 157px, 0);
	}
	10% {
		clip: rect(140px, 9999px, 93px, 0);
	}
	15% {
		clip: rect(153px, 9999px, 32px, 0);
	}
	20% {
		clip: rect(103px, 9999px, 58px, 0);
	}
	25% {
		clip: rect(200px, 9999px, 10px, 0);
	}
	30% {
		clip: rect(184px, 9999px, 37px, 0);
	}
	35% {
		clip: rect(178px, 9999px, 160px, 0);
	}
	40% {
		clip: rect(142px, 9999px, 27px, 0);
	}
	45% {
		clip: rect(70px, 9999px, 145px, 0);
	}
	50% {
		clip: rect(77px, 9999px, 147px, 0);
	}
	55% {
		clip: rect(98px, 9999px, 51px, 0);
	}
	60% {
		clip: rect(180px, 9999px, 123px, 0);
	}
	65% {
		clip: rect(175px, 9999px, 72px, 0);
	}
	70% {
		clip: rect(107px, 9999px, 200px, 0);
	}
	75% {
		clip: rect(67px, 9999px, 108px, 0);
	}
	80% {
		clip: rect(118px, 9999px, 157px, 0);
	}
	85% {
		clip: rect(12px, 9999px, 18px, 0);
	}
	90% {
		clip: rect(7px, 9999px, 139px, 0);
	}
	95% {
		clip: rect(101px, 9999px, 145px, 0);
	}
	100% {
		clip: rect(46px, 9999px, 51px, 0);
	}
}

.subtitle:after,
.title:after {
	content: attr(data-content);
	position: absolute;
	left: 2px;
	text-shadow: -1px 0 red;
	top: 0;
	color: #e0e0ff;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
	0% {
		clip: rect(10px, 9999px, 175px, 0);
	}
	5% {
		clip: rect(198px, 9999px, 7px, 0);
	}
	10% {
		clip: rect(119px, 9999px, 148px, 0);
	}
	15% {
		clip: rect(109px, 9999px, 42px, 0);
	}
	20% {
		clip: rect(177px, 9999px, 100px, 0);
	}
	25% {
		clip: rect(149px, 9999px, 41px, 0);
	}
	30% {
		clip: rect(186px, 9999px, 114px, 0);
	}
	35% {
		clip: rect(42px, 9999px, 6px, 0);
	}
	40% {
		clip: rect(197px, 9999px, 157px, 0);
	}
	45% {
		clip: rect(106px, 9999px, 161px, 0);
	}
	50% {
		clip: rect(151px, 9999px, 179px, 0);
	}
	55% {
		clip: rect(42px, 9999px, 72px, 0);
	}
	60% {
		clip: rect(175px, 9999px, 144px, 0);
	}
	65% {
		clip: rect(17px, 9999px, 87px, 0);
	}
	70% {
		clip: rect(161px, 9999px, 62px, 0);
	}
	75% {
		clip: rect(171px, 9999px, 186px, 0);
	}
	80% {
		clip: rect(25px, 9999px, 99px, 0);
	}
	85% {
		clip: rect(131px, 9999px, 26px, 0);
	}
	90% {
		clip: rect(37px, 9999px, 175px, 0);
	}
	95% {
		clip: rect(126px, 9999px, 132px, 0);
	}
	100% {
		clip: rect(56px, 9999px, 60px, 0);
	}
}

.subtitle:before,
.title:before {
	content: attr(data-content);
	position: absolute;
	left: -2px;
	text-shadow: 1px 0 blue;
	top: 0;
	color: #c0c0df;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim-2 3s infinite linear alternate-reverse;
}
