#tables {
	width: 100%;
	height: 70vh;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 25px;
}

.big {
	font-size: 4.5vw;
	font-weight: bold;
}

.axisWhite path, .axisWhite line, .axisWhite text {
	stroke: white;
}

div > label {
	display: block;
	margin-bottom: 15px;
	margin-top: 10px;
}

.bx-opt {
	position: relative;
	display: inline-block;
}

.bx-opt > input {
	display: none;
}

.bx-switch {
	background-color: #313b47;
	height: 50px;
	line-height: 48px;
	text-align: center;
	border: 1px solid #62c8d0;
	border-radius: 5px;
	cursor: normal;
	font-size: 16px;
	position: relative;
	font-weight: bold;
	margin-bottom: 15px;
	padding: 0;
	color: #aaa;

	width: 100%;
	display: flex;
	justify-content: space-around;
}

.bx-switch .seperator {
	background-color: #434c57;
	width: 2px;
	height: 48px;
}

.bx-switch .bx-opt {
	padding: 0;
	transition: width .7s;
	flex: none;
	cursor: pointer;
	width: calc(30% - 2px);
}

.bx-switch .bx-opt.active {
	width: 70%;
}

.bx-switch .bx-opt.active .box {
	color: white;
	background-color: #434c57;
}

.bx-switch .bx-opt .box {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0);
	padding: 0;
	transition: background-color .7s;
}

.flush-cache.inactive {
	opacity: 0;
	cursor: default;
}

.flush-cache {
	opacity: 1;
	transition: opacity .8s;
	cursor: pointer;
}

#graph-params-form {
	min-height: 100px;
}
