.missing-bar {
	background: #4e2a2a !important;
}
.total-day-bar {
	background: #4c7c6d !important;
}
.total-bar {
	background: #4c7c6d !important;
}
.subnav-toggler {
	background: #2f363f;
	z-index: 2;
}
.sub-nav {
	text-align: center;
	background: #2f363f;
	padding: 5px;
	font-family: 'Noto Sans', sans-serif;
}

.sub-nav-link.red {
	color: #ff3c42 !important;
}
.sub-nav-link.yellow {
	color: #ffd449 !important;
}
.sub-nav-link.green {
	color: rgb(74, 196, 94) !important;
}
.sub-nav-link.grey {
	color: #6a6a6e !important;
}
.sub-nav-link.red.active {
	color: #ed716c !important;
}
.sub-nav-link.yellow.active {
	color: #edd578 !important;
}
.sub-nav-link.green.active {
	color: rgb(115, 219, 143) !important;
}
.sub-nav-link.grey.active {
	color: #adadad !important;
}
