/* *=======*
   * INDEX *
   *=======* */

.avholder {
    padding: 0px;
    margin: 0px;
    margin-right: 64px !important;
}
.missing-bar {
    margin-top: 10px;
    background: #df7878 !important;
    text-align: center;
}
.total-day-bar {
    margin-top: 10px;
    background: #e9e9fd !important;
    text-align: center;
}
.total-bar {
    margin-top: 10px;
    background: #d4d4e6 !important;
    text-align: center;
}
.subnav-toggler {
    background: #6c7980;
    z-index:2;
}
.sub-nav {
    text-align: center;
    background: #6c7980;
    padding: 5px;
    font-family: 'Noto Sans', sans-serif;
}

.sub-nav-link.red {
    color: #d34b4b !important;
}
.sub-nav-link.yellow {
    color: #dfc554 !important;
}
.sub-nav-link.green {
    color: #62ca00 !important;
}
.sub-nav-link.grey {
    color: #c0c0d4 !important;
}
.sub-nav-link.red.active {
    color: #ff7b7b !important;
}
.sub-nav-link.yellow.active {
    color: #ffd495 !important;
}
.sub-nav-link.green.active {
    color: #b3ff6c !important;
}
.sub-nav-link.grey.active {
    color: #ffffff !important;
}