/* *=======*
   * INDEX *
   *=======* */

.avholder {
	padding: 0px;
	margin: 0px;
	margin-right: 64px;
}
.missing-bar {
	margin-top: 10px;
	background: #df7878;
	text-align: center;
}
.total-day-bar {
	margin-top: 10px;
	background: #e9e9fd;
	text-align: center;
}
.total-bar {
	margin-top: 10px;
	background: #d4d4e6;
	text-align: center;
}
.subnav-toggler {
	background: #6c7980;
	z-index: 2;
}
.sub-nav {
	text-align: center;
	background: #6c7980;
	padding: 5px;
	font-family: 'Noto Sans', sans-serif;
}

a.nav-link.sub-nav-link.red {
	color: #d34b4b;
}
a.nav-link.sub-nav-link.yellow {
	color: #dfc554;
}
a.nav-link.sub-nav-link.green {
	color: #62ca00;
}
a.nav-link.sub-nav-link.grey {
	color: #c0c0d4;
}

a.nav-link.sub-nav-link.red.active {
	color: #ff7b7b;
}
a.nav-link.sub-nav-link.yellow.active {
	color: #ffd495;
}
a.nav-link.sub-nav-link.green.active {
	color: #b3ff6c;
}
a.nav-link.sub-nav-link.grey.active {
	color: #ffffff;
}

/* *=======*
   * ROKYT *
   *=======* */

.rokyt-ico {
	background: grey;
	cursor: pointer;
}
.rokyt-ico.active {
	background: white;
}

.rokyt-timer-bar {
	background-color: #2b3d46;
	border-radius: 5px;
	margin: 5px;
}
.rokyt-timer-bar.even {
	background-color: #1b282e;
}
.rokyt-row {
	margin-top: 15px;
	background: #1b282e;
}

.fill-y {
	height: 100%;
}
.fill-x {
	width: 100%;
}

.job-edit-caret {
	position: relative; /* im sorry for my sins, css gods */
	top: -5px;
}