body {
	background-color: #2e2f35;
	color: white;
}

.card a {
	color: #58b19e;
}
a:hover, a:active {
	color: #5a8d7d;
}

.grn-text {
	color: #57bea8;
	font-family: 'Noto Sans', sans-serif;
}
.grn-link-text {
	color: #58b19e;
}
.grn-link-text:hover, .grn-link-text:active {
	color: #5a8d7d;
}
.grn-text.dim {
	color: #458073;
}
.grn-text.semi-dim {
	color: #48a38f;
}

.faded.grn-text {
	color: #73a89d;
	font-family: 'Noto Sans', sans-serif;
}
.faded.grn-text.dim {
	color: #62706d;
}
.faded.grn-text.semi-dim {
	color: #667a76;
}

.mincon {
	background: #2e2f35;
	color: white;
}
.mcon {
	background: #2e2f35;
	color: white;
}
.bordercon {
	border-right: 1px solid #282829;
	border-left: 1px solid #282829;
	border-bottom: 1px solid #282829;
}

hr {
	background: rgb(166, 173, 175);
}
.version-footer {
	background-color: #272831;
	color: white;
}
.ts-row {
	background-color: rgb(67, 76, 87);
	color: #d8d8d8;
	transition: height 0.7s, margin-bottom 0.7s, opacity 0.7s, background-color 0.7s;
}
.ts-row.even {
	background-color: rgb(49, 59, 71);
}


/* *==========*
   *   BTNS   *
   *==========* */

nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse {
	background-color: #212630 !important; /*okay, fine, this one was needed*/
}
.btn.btn-outline-info:hover {
	background: rgb(70, 154, 202);
}
.btn.btn-outline-info:active {
	background: rgb(70, 154, 202);
}
.btn-delj {
	background: #272831;
}
.errholder {
	background: #270b0b;
	animation: errholder-hider 4s;
}
@keyframes errholder-hider {
	0% {
		height: 12vh;
		padding-bottom: 16px;
		margin-bottom: 16px;
		background: #db2153;
		opacity: 1;
	}
	60% {
		background: #db2153;
		height: 12vh;
		padding-bottom: 16px;
		margin-bottom: 16px;
		opacity: 0.9;
	}
	100% {
		background: #583535;
		margin-bottom: 0px;
		padding-bottom: 0px;
		opacity: 0;
	}
}


/* *========*
   *  NAVS  *
   *========* */

.nav-item .nav-link {
	transition: background .4s ease-in-out;
}
.nav-item .nav-link.active {
	background: #434c57;
}
